---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
allPosts.sort((a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
});

const pageTitle = "My Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Have a look to my posts.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={`/posts/${post.id}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
