---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    I'm always open to new opportunities, collaborations, or just a good
    conversation.
  </p>

  <p>
    If you have a project in mind, a question, or think we could work together,
    feel free to reach out.
  </p>

  <p>You can contact me via email or connect with me on LinkedIn.</p>

  <ul>
    <li>
      Email: <a href="mailto:graciadanies@gmail.com">graciadanies@gmail.com</a>
    </li>
    <li>
      Github: <a href="https://github.com/a-gracia">github.com/a-gracia</a>
    </li>
    <li>
      LinkedIn: <a
        href="https://linkedin.com/in/AndresGraciaDanies"
        target="_blank"
      >
        linkedin.com/in/AndresGraciaDanies
      </a>
    </li>
  </ul>
</BaseLayout>
