---
const github = "a-gracia";
const linkedin = "AndresGraciaDanies";
const crunchbase = "andres-gracia-danies";
const instagram = "graciadanies";
---

<footer>
  <p>
    Check out my social media profiles:
    <ul>
      <li>
        <a href={"https://github.com/" + github} target="_blank">Github</a>
      </li>
      <li>
        <a href={"https://linkedin.com/in/" + linkedin} target="_blank"
          >Linkedin</a
        >
      </li>
      <li>
        <a href={"https://crunchbase.com/person/" + crunchbase} target="_blank"
          >Github</a
        >
      </li>
      <li>
        <a href={"https://instagram.com/" + instagram} target="_blank"
          >Instagram</a
        >
      </li>
    </ul>
  </p>
</footer>
