---
import Social from "./Social.astro";

const github = "a-gracia";
const linkedin = "AndresGraciaDanies";
const crunchbase = "andres-gracia-danies";
const instagram = "graciadanies";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    <Social platform="github" username="a-gracia" />
    <Social platform="linkedin" username="AndresGraciaDanies" />
    <Social platform="crunchbase" username="andres-gracia-danies" />
    <Social platform="instagram" username="graciadanies" />
  </p>
</footer>
