---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    <Social platform="github" username="a-gracia" />
    <Social platform="linkedin" username="AndresGraciaDanies" />
    <Social platform="crunchbase" username="andres-gracia-danies" />
    <Social platform="instagram" username="graciadanies" />
  </p>
  <p>Icons by <a href="https://freepik.com">FreePik</a></p>
  <p>&copy; 2026 Andres Gracia Danies. Built with care.</p>
</footer>
