---
import Navigation from "./Navigation.astro";
---

<header>
  <img
    class="profile-picture"
    src="https://api.dicebear.com/9.x/miniavs/svg?seed=andres"
    alt="profile picture"
  />
  <p><a class="name-title" href="/">ANDRES GRACIA</a></p>
  <hr />
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  .profile-picture {
    border-radius: 100px;
    width: 150px;
    height: 150px;
  }

  .name-title {
    color: rgb(0, 13, 129);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
  }

  hr {
    width: 50px;
    border: 4px solid rgb(0, 195, 255);
    border-radius: 10px;
  }
</style>
