---
import Navigation from "./Navigation.astro";
const token = import.meta.env.GITHUB_TOKEN;
const fetchOptions = { headers: { Authorization: `Bearer ${token}` } };
const userFetch = await fetch(
  "https://api.github.com/users/a-gracia",
  fetchOptions,
);
const userData = await userFetch.json();
---

<header>
  <img
    class="profile-picture"
    src={userData.avatar_url}
    alt="profile picture"
  />
  <div class="header-container">
    <div class="name-container">
      <p><a class="name-title" href="/">ANDRES GRACIA</a></p>
      <hr />
    </div>
    <nav>
      <Navigation />
    </nav>
  </div>
</header>

<style>
  .profile-picture {
    border-radius: 100px;
    width: 150px;
    height: 150px;
  }

  .name-title {
    color: rgb(0, 13, 129);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 500;
  }
</style>
